body {
    min-height: 100vh;
    background: linear-gradient(135deg,#1d2671,#c33764);
    font-family: Arial;
}

.card {
    border-radius: 12px;
}

h1 {
    font-weight: bolder;
    letter-spacing: 1px;
}

h5 {
    font-weight: bold;
    color: blueviolet;
}

label {
    font-weight: bold;
}

.table-container {
    height: 400px;
    overflow-y: auto;
}

.table-container table {
    margin-bottom: 0;
}