# Virtual environments
fastenv/
venv/
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/

# Editor/IDE
.vscode/
.idea/

# Node
node_modules/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
